.gainful {
    button {
        margin-left: 0.2em;
    }

    .menu {
        display: flex;
        row-gap: 1em;
    }

    .samples, .addEffect {
        display: flex;
        align-items: stretch;
    }
}