.gainful {
    button {
        margin-left: 0.2em;
    }

    .menu {
        display: flex;
    }

    .samples, .addEffect {
        display: flex;
        align-items: stretch;
    }

    .samples {
        margin-right: 3em;
    }
}